<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HybridFrameworkSuite" verbose="1" parallel="none">

    <listeners>
        <listener class-name="listeners.ReportListener"/>
    </listeners>

    <test name="NaukriResumeUpdateTest">
        <classes>
            <class name="testcases.NaukriAutomationTest"/>
        </classes>
    </test>

</suite>
